.myProfile {
  .headerStyle {
    background-color: #fff;
    padding: 100px 0 50px;
    text-align: center;

    .imgStyle {
      width: 60px;
      height: 60px;
    }
  }

  .coursesContainer {
    padding: 20px 0;

    h2 {
      margin: 30px 0 50px;
      text-align: center;
    }

    .courses {
      max-width: 800px;
      margin: auto;

      .selectedCourseContainer {
        background-color: #fff;
        border-radius: 5px;
        margin: 10px 0 0;

        .defaultIconStyle {
          margin-right: 10px;
          width: 30px;
          vertical-align: middle;
        }

        a {
          text-decoration: none;
        }

        &:hover .selectedCourseItem {
          cursor: pointer;
          box-shadow: 0 0 10px #ccc;
        }

        .selectedCourseItem {
          padding: 0 10px;
          border-radius: 5px;
          border: 1px solid #F2F4F6;
          display: flex;
          padding: 10px;

          .courseNameStyle {
            width: 95%;
          }

          h4 {
            color: #4A4A4A;
            margin: 10px 0 0;
          }

          .arrowButton,
          .editButton {
            color: #37BDD5 !important;
          }

          @media only screen and (max-width: 767px) {
            .courseStatusStyle,
            .progressStyle {
              display: none !important;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 820px) {
      margin: 0 20px;
    }
  }
}
