.searchBar {
  height: 67px;
  text-align: right;
  border-bottom: 1px solid #30CFD0;

  .searchIconStyle {
    text-align: center;
    width: 40px !important;
    height: 40px !important;
    color: #4A90E2 !important;
    vertical-align: bottom;
  }

  @media only screen and (max-width: 330px) {
    .textFieldStyle {
      width: 230px !important;
    }
  }
}
